body { background: #1be046; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 18px; display: flex; }
.block-email-0 { color: #868dba; font-size: 14px; margin-bottom: 5px; }
.block-uploader-1 { color: #5a7f80; font-size: 14px; margin-bottom: 5px; }
.block-shipping-2 { color: #10e802; font-size: 21px; margin-bottom: 5px; }
.block-database-3 { color: #bc2465; font-size: 13px; margin-bottom: 5px; }
.block-uploader-4 { color: #99ba5a; font-size: 18px; margin-bottom: 5px; }
.block-logger-5 { color: #d8be29; font-size: 13px; margin-bottom: 5px; }